@inject IJSRuntime js

<button type="button" class="btn btn-primary" @onclick="PrintDotNetObject">Pass .NET object to JavaScript</button>
<br><br>
<code @ref="codeBlock"></code>
@code{
  private ElementReference codeBlock;

  private async Task PrintDotNetObject()
  {
    var obj = new {
      FistName = "Jon",
      LastName = "Doe",
      Age = 27,
      BirthDate = DateTime.Now.AddYears(-27), 
      LikesDotNet = true,
    };
    await js.InvokeVoidAsync("dotNetToJsSamples.printDotNetObject", codeBlock, obj);
  }
}