@page "/"

<p class="lead">
    This Blazor WASM application hosts multiple samples that walk you through communicating between .NET and JavaScript. <br>
    Use the navigation on the left to walk through the different samples.
</p>