@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content mt-5 px-4">
        @Body
    </div>

    <footer class="footer mt-auto py-2 text-center">
        <img src="https://swimburger.net/content/img/burger.svg" width="35" height="19.5" alt="Swimburger logo">
        Samples provided by Niels Swimberghe; Follow Niels' blog at
        <a href="https://swimburger.net">swimburger.net</a> or on <a href="https://twitter.com/RealSwimburger">Twitter</a>;
        <a href="https://privacypolicies.com/privacy/view/95b2095f4609044d9618c21b06f5df75">Privacy Policy</a>
    </footer>
</div>