<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorJavaScriptInterop</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3 mb-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dotnet-to-js-sample-1">
                .NET to JS 1 - Call a JS function with simple parameters from .NET
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dotnet-to-js-sample-2">
                .NET to JS 2 - Call a JS function with object parameters from .NET
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dotnet-to-js-sample-3">
                .NET to JS 3 - Call 'eval' JS function (dangerous) from .NET
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dotnet-to-js-sample-4">
                .NET to JS 4 - Call JS function with return value from .NET
            </NavLink>
        </li>
        <li class="nav-item px-3 mb-3">
            <NavLink class="nav-link" href="dotnet-to-js-sample-5">
                .NET to JS 5 - Call JS function returning a promise from .NET
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="js-to-dotnet-sample-1">
                JS to .NET 1 - Call static .NET methods from JS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="js-to-dotnet-sample-2">
                JS to .NET 2 - Call .NET class instance methods from JS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="js-to-dotnet-sample-3">
                JS to .NET 3 - Call .NET Blazor component instance methods from JS
            </NavLink>
        </li>
        <li class="nav-item px-3 mb-3">
            <NavLink class="nav-link" href="js-to-dotnet-sample-4">
                JS to .NET 4 - Call .NET async task method from JS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="advanced-interop">
                Advanced - Multiple Blazor component instances with state in JS
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
